.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  img {
    margin-bottom: 4rem;
  }
  strong {
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--Heading);
  }
  h2 {
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--Body);
    margin-top: 0.5rem;
  }

  .authorContainer {
    display: flex;
    flex-direction: row;
    margin: 1.625rem 0 3.125rem;
  }

  svg {
    color: var(--Info);
    margin-right: 0.625rem;
  }

  p {
    color: var(--Info);
    margin-right: 1.8rem;
  }

  button {
    color: var(--Highlight);
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    background: transparent;

    transition: filter 0.4s;

    &:hover {
      filter: brightness(0.7)
    }
  }
}

.preview {
  display: block;
  width:100%;
  margin-top: 5.5rem;
  background:var(--heading);
  color:var(--background);
  text-align:center;
  border-radius: 4px;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
}
